@import "compass/css3";

@import "../bower_components/foundation/scss/normalize";

$rem-base: 16px;
@import "../bower_components/foundation/scss/foundation/functions";

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

$body-font-family: "Open Sans", Arial, sans-serif;
$header-font-weight: 300;
$subheader-font-weight: 300;
$topbar-title-font-size: 1.3rem;
$topbar-link-font-size: 1rem;
$topbar-media-query: "only screen and (min-width: 840px)";
$topbar-breakpoint: 840px;
$button-font-tny: 0.9rem;
$row-width: 100%;
$tabs-content-margin-bottom: 0;
$label-padding: rem-calc(4 8);
$has-tip-font-weight: normal;
@import "../bower_components/foundation/scss/foundation";

$fa-font-path: "../../font-awesome/fonts";
@import "../bower_components/font-awesome/scss/font-awesome";

$blue: #6ECFF5;
$grey: #DDDDDD;
$dark-grey: #6F6F6F;

.container {
    max-width: 62.5rem;
    margin: 0 auto;
    // padding-top: 0.5rem;
    padding: 0.5rem 2rem 0 2rem;
}

.top-bar {
    .name {
        .fa {
            color: $blue;
            font-size: 2rem;
            vertical-align: middle;
            margin-right: 0.5rem;
        }

        h1 {
            font-weight: $topbar-title-weight;
            color: $topbar-link-color;
            width: auto;
            display: block;
            padding: 0 $topbar-height / 3;
        }
    }

    .top-bar-section {
        .fa {
            font-size: 1.2rem;
            vertical-align: -0.05rem;
            margin-right: 0.3rem;
            @include opacity(0.8);
        }

        a:hover {
            .fa {
                color: $blue;
                @include opacity(1);
            }
        }
    }
}

a.action {
    font-size: 1.1rem;
    padding: 0 5px;
}

a.warning {
    color: $warning-color;

    &:hover {
        color: scale-color($warning-color, $lightness: $button-function-factor);
    }
}

a.alert {
    color: $alert-color;

    &:hover {
        color: scale-color($alert-color, $lightness: $button-function-factor);
    }
}

a:focus {
    outline: 0 none;
}

.button {
    .fa {
        margin-right: 0.7rem;
        font-size: 1.5rem;
        vertical-align: -0.1rem;
    }
} 

.button.tiny {
    .fa {
        margin-right: 0.5rem;
        margin-left: 0rem;
        font-size: 1.1rem;
    }
}

.button-group.radius {
    .button {
        width: 100%;

        @media #{$small-only} {
            border-radius: $button-radius;
        }
    }
}

.label.deployment-status {
    font-size: 1.25rem;
    padding: 1rem;
    margin: 1.25rem 0;
}

.muted {
    color: $dark-grey;
}

.feed {
    li {
        padding: 0.6rem 0;
        display: table;
        border-bottom: 1px solid $grey;

        &:last-of-type {
            border-bottom-width: 0;
        }

        div {
            height: 3rem;
            float: none !important;
            display: table-cell;
            vertical-align: middle;
        }
    }

    .content {
        width: 100%;
    }
}

.fa.round {
    border: 3px solid $grey;
    background-color: #FFF;
    padding: 0.6em;
    @include border-radius(50%);
}

.alert-box {
    ul {
        margin-top: $alert-font-size;
        margin-bottom: 0;

        li {
            font-size: $alert-font-size;
        }
    }
}

.tabs {
    dd.active {
        border: 0px solid $tabs-navigation-bg-color;
        border-top-width: 1px;

        &:first-child {
            border-left-width: 1px;
        }

        &:last-child {
            border-right-width: 1px;
        }
    }
}