{% extends "layout.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
	<h2>Activity Feed</h2>

	<div class="ui small feed segment">
		<div class="event">
			<div class="label">
				<i class="circular settings icon"></i>
			</div>
			<div class="content">
				<div class="date" title="01/01/2013 11:11:12">
					1 hour ago
				</div>
				<div class="summary">
					<a href="">User</a> automatically deployed <a href="">Example.com</a>
				</div>
			</div>
		</div>

		<div class="event">
			<div class="label">
				<i class="circular wrench icon"></i>
			</div>
			<div class="content">
				<div class="date" title="01/01/2013 11:11:11">
					2 hours ago
				</div>
				<div class="summary">
					<a href="">User</a> manually deployed <a href="">Site.com</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}